body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.circle {
  height: 16px;
  width: 16px;
  background-color: rgb(105, 177, 121);
  border-radius: 50%;

}

.activeCircle {
  display: inline-block;
  margin: 0px 20px;
  margin-left: 35px;
  vertical-align: middle;
  height: 100%;
}

.circle2 {
  height: 22px;
  width: 22px;
  text-align: center;
  color: white;
  background-color: rgb(137, 137, 138);
  padding: 5px;
  border-radius: 50%;
  /* display: inline-block; */
  /* margin-bottom: 150px; */
}

.circleCont {
  display: inline-block;
  line-height: 1.5;
}

.status {
  padding: 10px 30px;
  padding-bottom: 25px;
  color: #c6c5c6;
  font-family: 'Poppins';
}

.circle3 {
  float: right;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  color: white;
  font-size: 14px;
  background-color: #c6c5c6;
  border-radius: 50%;
  line-height: 1.8;
  padding-left: 1px;
}

.circle3>* {
  display: inline-block;
}

.arrowimg {
  width: 10px;
}

.unread {
  float: left;
}

.ta {
  display: inline-block;
  /* line-height: 1; */
  /* margin-bottom: -50px; */
}

/* Navigation Bar */
nav {
  margin: 15px 0px 15px 35px;
  text-align: left;
}

.navBar {
  border-bottom: 2px solid rgb(238, 239, 239);
}

.nav-item {
  margin: 10px;
  cursor: pointer;
  font-family: 'Urbanist';
  padding: 2px 10px;
  font-size: 18px;
  font-weight: 600;
}

.save {
  border: 2px solid #69B179;
  border-radius: 5px;
  color: #69B179;
  background-color: #edf8f5;
}

.manage {
  border: 2px solid #d5d6d5;
  border-radius: 5px;
  color: #7d7e7e;
  background-color: #f9f9f9;
}

.delete {
  border: 2px solid #e15850;
  border-radius: 5px;
  color: #e15850;
  background-color: #fcf1f1;
}

.paging {
  font-family: 'Poppins';
  float: right;
  margin-right: 40px;


}


/* main card */
.entry {
  display: inline-block;
  cursor: pointer;
  height: 90px;
}

.drag {
  display: inline-block;
  justify-content: center;
  margin-left: 10px;
}

.dragicon {
  vertical-align: middle;
  height: 100%;
}

.subjCont {
  display: inline-block;
  line-height: 1;

  vertical-align: middle;

}

.subject {
  font-family: 'Poppins';
  margin-left: 10px;
}

.subSubj {
  display: block;
  margin-left: 10px;
}

.greySub {
  color: #969596;
}

/* Checkbox */
.checkboxCont {
  display: inline-block;
  padding: 15px 25px;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 3px;
}

.control:hover input~.control_indicator,
.control input:focus~.control_indicator {
  background: #cccccc;
}

.control input:checked~.control_indicator {
  background: #1e89fa;
}

.control:hover input:not([disabled]):checked~.control_indicator,
.control input:checked:focus~.control_indicator {
  background: #e7e7e7;
}

.control input:disabled~.control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox input:disabled~.control_indicator:after {
  border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3.854rem;
  height: 3.637rem;
  margin-left: -1.037rem;
  margin-top: -1.066rem;
  background: #007fbd;
  border-radius: 3rem;
  opacity: 0.4;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.control-checkbox input+.control_indicator::before {
  animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked+.control_indicator::before {
  animation-name: s-ripple-dup;
}

/*  ------------------  */

.card {
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  text-align: left;
  width: 95%;
  border: 2px solid rgb(238, 239, 239);
  border-radius: 10px;
  background-color: rgb(254, 254, 255);
  margin: 10px auto;
  padding: 0px 0px;
}

.txtCont {
  display: block;

}

.dateNum {
  font-size: 16px;
}


.dateIcon {
  border: 2px solid rgb(236, 237, 237);
  border-radius: 8px;
  background-color: rgb(249, 249, 248);
  padding: 15px 10px;
  margin: 14px 0px;
  margin-right: 20px;
  line-height: .8;
  display: inline-block;
  text-align: center;
}

.dashedHR {
  border-top: 1px dashed #969596;
  width: 95%;
}

.contentCont {

  margin-top: 20px;
  padding: 0px 20px 20px;
}